h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    background: linear-gradient(to right,#ff47d4, #8f2cda, rgb(45, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
  }
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.4rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    text-transform: ;
    color: white;
  }

/* links */

a {
    text-decoration: none;
}
.hover a {
    text-decoration: line-through;
}
.button {
    background: linear-gradient(to right,#ff47d4, #8f2cda, rgb(45, 255, 255));
    border: none;
    color: white;
    
}


/* landing page */

.landingPage {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.lpContainer {
    display: flex;
    height: 75%;
    width: 90%;
    align-items: center;
    justify-content: center;
    background-color: black;
}   